<div *ngIf="article">
    <h2>編集</h2>
    <div>
        <div>
            <label>タイトル
                <input [(ngModel)]="article.title" placeholer="title" #Articletitle/>
            </label>
        </div>
        <div>
            <label>内容
                <input [(ngModel)]="article.content" placeholer="content" #Articlecontent/>
            </label>
        </div>
    </div>
    <div> 
    <button (click)="goBack()">戻る</button>
    <button (click)="save(Articletitle.value,Articlecontent.value)">保存</button>    
    <button (click)="delete()">削除</button>    
    </div>
</div>
